<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.newborn">

    <!-- Permisos -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Newborn">

        <activity
            android:name="com.project.newborn.Activities.Patient"
            android:label="Datos del paciente"
            android:exported="true">

        </activity>

        <activity
            android:name="com.project.newborn.Activities.PatientList"
            android:label="Lista de pacientes"
            android:exported="true">
        </activity>

        <activity
            android:name="com.project.newborn.Activities.AssignIncubator"
            android:label="Asignar incubadora"
            android:exported="true">
        </activity>

        <activity
            android:name="com.project.newborn.Activities.CameraStream"
            android:label="Cámara Stream"
            android:exported="true">
        </activity>

        <activity
            android:name="com.project.newborn.Activities.IncubatorList"
            android:label="Lista de incubadoras"
            android:exported="true">
        </activity>

        <activity
            android:name="com.project.newborn.Activities.Sensor"
            android:label="Sensor"
            android:exported="true">
        </activity>

        <activity
            android:name="com.project.newborn.Activities.Incubator"
            android:label="Incubadora"
            android:exported="true">
        </activity>

        <activity
            android:name="com.project.newborn.Activities.Camera"
            android:label="Cámara"
            android:exported="true">
        </activity>

        <activity
            android:name="com.project.newborn.Activities.Alarm"
            android:label="Alarma"
            android:exported="true">
        </activity>

        <activity
            android:name="com.project.newborn.Activities.Initial"
            android:label="Newborn"
            android:exported="true">
            <intent-filter>  <!-- Esto es exclusivo de la pantalla principal/inicial -->
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Mqtt Service -->
        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service android:name="com.project.newborn.resources.MqttServiceAlarm" android:enabled="true" />
        <service android:name="com.project.newborn.resources.MqttServicePatient" android:enabled="true" />
    </application>

</manifest>